
.menu__selection {
    padding-top: 150px;
    
    >*{
        @include generic-menu-restaurants;
        
    }   
}
.menu__title {
    margin: 0 0 24px 15px;
    padding-top: 25px;
}

.menu__selection__title {
    margin: 18px 0 18px 5px;
}



.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    .btn-check{
        border: 0;
        position: absolute;
        top: 0px;
        right: -100px;
        background-color: $color-tertiary;
        height: 100%;
        width: 65px;
        border-radius: 0 15px 15px 0;
        transition-duration: .55s;
        
        .fa-circle-check
        {
            color: white;        
            transition-duration: .60s;
        }
    }

    &:hover{
        

        .btn-check {
            right: 0;        
        }
        .card__body__price {
            transform: translateX(-60px);
            transition-delay: 50ms
        }
    }
}



.card {
    @include card;
    &__title {        
        margin-left: 15px;
        margin-top: -8px; 
    }
    &__body {
        display: flex;
        justify-content: space-between;
        margin: -29px 20px 0 15px;
         &__description {
            width: 89%;
            overflow: hidden;
            text-overflow: ellipsis;/* apparition des ... en cas de menu trop long*/
            white-space: nowrap; /* empeche le retour à la ligne */            
        }
        &__price {
            transition-duration: 0.60s;
        }    
    }
}
.menu__selection__container {
    padding-bottom: 1px; // sinon bouton collé en bas ??
}
.menu-title {
    display: flex;
    flex-direction: row;
}
.menu-title .favourite-container i {
    top: 30px;
}
.main__restaurants__card{
    position: relative;
}
.isnew {
    position: absolute;
    text-align: center;
    line-height:30px;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 80px;
    background-color: $color-tertiary;
    color:#008766;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}