// base anim for plate fx

@keyframes plate-appear-order {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// delaying appearance


[class^="animation__card"] {
  animation-name: plate-appear-order;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}

[class$="card__entries"] {
  animation-delay: 1s;
}

[class$="card__main-courses"] {
  animation-delay: 2s;
}

[class$="card__desserts"] {
  animation-delay: 3s;
}


// coeur qui se remplit au hover
.restaurants__container{
  justify-content: space-between;
}
.conteneur, .favourite-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.empty-heart, .full-heart{
  position: absolute;
  top: 20px;
  right: 20px;
}

.empty-heart {
  color: black;
  background: none;
  font-size: 2em;
  z-index: 1;
  opacity: 1;
  transition: opacity 500ms ;
}
.empty-heart:hover{
  opacity: 0;
  
}

.full-heart {        
      background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 2;
      opacity: 0;
      font-size: 2em; 
      transition: opacity 500ms ;
}
.full-heart:hover{
  opacity: 1;
}
