//boutons rose/mauve avec degradé

.pnk-button {
    margin: 20px 0;
    height: 50px;
    border-radius: 25px;
    color: $color-white;
    &__main {
        width: 218px;
    }
    &__menus {
        width: 186px;
    }
    @include button-gradient($color-btn-pink-sec, $color-btn-pink-main);
    &:hover {
        @include ligthenedgradient($color-btn-pink-sec, $color-btn-pink-main);
    }
}

// boutons de sélection des plats

