@mixin generic-menu-restaurants {
    background: $color-bg-lightbrown;
    border-radius: $border-radius-restaurants;
}
// all h* but h2
@mixin generic-title-style {
    font-family: 'Roboto';
    font-style: normal;
    color: $color-black;
}
@mixin button-gradient($color1, $color2) {
    background: linear-gradient($color1, $color2);
}
@mixin ligthenedgradient($color1, $color2) {    
    $fadedcolor1: lighten($color1, 15%);
    $fadedcolor2: lighten($color2, 15%);
    background: linear-gradient($fadedcolor1,$fadedcolor2);
}
@mixin bubblestyle {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
}

@mixin restaurant-photos {
    background-color: $color-white;
    background-size: contain;
    background-repeat: no-repeat;
}
@mixin main-restaurant-photos {
    background-color: $color-white;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin boxshadow-restaurants-card{
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}