$color-primary: #F6F6F6;
$color-btn-pink-main: #9356DC;
$color-btn-pink-sec: #FF79DA;
$color-search: #EAEAEA;
$color-accent: #99E2D0;
$color-white: #ffffff;
$color-invalid: #DB464B;
$color-footer: #353535;
$color-black: black;
$color-fa-icons-grey: #7E7E7E;
$color-bg-lightbrown:#F7F7F7;


$width : 100%;

$border-radius-restaurants: 40px 40px 0 0;

